# Python Training for Pandas (Matt Harison Oreilly)

The below first line is there to display graphs inline in the notebook.

In [1]:
# to display graphs in the notepad.
%matplotlib inline 
import pandas as pd 
import matplotlib 
import numpy as np

To Get the current directory and change it accordingly.

In [2]:
import os 

os.getcwd() # get present dir
os.chdir('C:\Python\Python_programs')
os.getcwd()

'C:\\Python\\Python_programs'

In [3]:
pd.read_csv?

In [4]:
nyc = pd.read_csv('central_park.csv', parse_dates=[0])
nyc.head()

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,NaN,276.0
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,NaN,70.0
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0

# Assignment on El Nino data set

In [ ]:
names=names = '''obs
year
month
day
date
latitude
longitude
zon.winds
mer.winds
humidity
air temp.
s.s.temp.'''.split('\n')

nino= pd.read_csv('tao-all2.dat',sep=' ', names=names, na_values='.', parse_dates=[[1,2,3]])
nino.head()