In [9]:
people = { 'first':['ram','shyam','jadu'],
    'last' : ['a','a','c'],
    'email' : ['ram@email.com','shyam@email.com','jadu@email.com']
}

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(people)
df

   first last            email
0    ram    a    ram@email.com
1  shyam    a  shyam@email.com
2   jadu    c   jadu@email.com

In [12]:
# sort by the last column 

df.sort_values(by='last',ascending=False)

   first last            email
2   jadu    c   jadu@email.com
0    ram    a    ram@email.com
1  shyam    a  shyam@email.com

In [13]:
# sorting by multiple columns

df.sort_values(by=['last','first'], ascending=False)

   first last            email
2   jadu    c   jadu@email.com
1  shyam    a  shyam@email.com
0    ram    a    ram@email.com

In [14]:
# sorting multiple columns on different order 

df.sort_values(by=['last','first'], ascending=[False,True])

   first last            email
2   jadu    c   jadu@email.com
0    ram    a    ram@email.com
1  shyam    a  shyam@email.com

In [15]:
# sort on index 

df.sort_index()

   first last            email
0    ram    a    ram@email.com
1  shyam    a  shyam@email.com
2   jadu    c   jadu@email.com

In [17]:
# sort data on series data too

df['last'].sort_values()

0    a
1    a
2    c
Name: last, dtype: object

In [21]:
# main data set country asending salary desc, find the highest 10 sal, 
#nlargest,nsmallest

df_main = pd.read_csv("survey_results_public.csv")
df_main.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [25]:
# sorting  country asending salary desc

df_sort = df_main.sort_values(by=["Country","ConvertedComp"], ascending=[True,False])
df_sort[["Country","ConvertedComp"]].head(10)

           Country  ConvertedComp
61540  Afghanistan      1000000.0
63925  Afghanistan      1000000.0
63993  Afghanistan      1000000.0
38261  Afghanistan       231192.0
28270  Afghanistan       130000.0
9806   Afghanistan        23328.0
62520  Afghanistan        23328.0
50812  Afghanistan        20950.0
50469  Afghanistan        20220.0
43642  Afghanistan        18660.0

In [28]:
df_main["ConvertedComp"].nlargest(10)

121     2000000.0
123     2000000.0
191     2000000.0
663     2000000.0
697     2000000.0
722     2000000.0
816     2000000.0
982     2000000.0
1018    2000000.0
1032    2000000.0
Name: ConvertedComp, dtype: float64

In [30]:
df_main.nlargest(10,"ConvertedComp")

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
121,123,I am a developer by profession,Yes,26.0,12,Weekly,120000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Flask;jQuery;React.js,Spring,Just as welcome now as I felt last year,36.0,8,3
123,125,"I am not primarily a developer, but I write co...",Yes,41.0,30,Monthly,200000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Just as welcome now as I felt last year,40.0,11,11
191,193,I am a developer by profession,Yes,29.0,16,Weekly,120000.0,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,7
663,665,I am a developer by profession,Yes,24.0,13,Weekly,150000.0,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",React.js,Express;React.js;Ruby on Rails,Just as welcome now as I felt last year,40.0,4,Less than 1 year
697,699,"I am not primarily a developer, but I write co...",Yes,39.0,16,Weekly,52000.0,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",Angular;ASP.NET;ASP.NET Core;Express;Flask,NaN,NaN,40.0,5,2
722,724,"I am not primarily a developer, but I write co...",Yes,NaN,12,Weekly,103000.0,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,React.js,Not applicable - I did not use Stack Overflow ...,40.0,3,3
816,818,"I am not primarily a developer, but I write co...",Yes,40.0,15,Weekly,70000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"A social science (such as anthropology, psycho...",Angular;Flask;Spring,NaN,Somewhat less welcome now than last year,40.0,25,2
982,986,I am a developer by profession,Yes,27.0,11,Weekly,81000.0,2000000.0,United States,United States dollar,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Express;Laravel,Express;jQuery;Laravel,Just as welcome now as I felt last year,40.0,16,8
1018,1022,I am a developer by profession,Yes,34.0,16,Weekly,142000.0,2000000.0,United States,United States dollar,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",React.js,Angular;Angular.js;React.js;Vue.js,Just as welcome now as I felt last year,40.0,18,13
1032,1036,I am a developer by profession,Yes,26.0,11,Weekly,68500.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Vue.js,Angular;ASP.NET;ASP.NET Core;Django;Express;Fl...,A lot more welcome now than last year,40.0,5,3

In [31]:
df_main.nsmallest(10,"ConvertedComp")

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
122,124,I am a developer by profession,No,38.0,14,Yearly,0.0,0.0,United States,United States dollar,...,Easy,Too short,No,"A humanities discipline (such as literature, h...",NaN,NaN,Somewhat less welcome now than last year,60.0,24,19
236,238,"I am not primarily a developer, but I write co...",Yes,NaN,13,Yearly,0.0,0.0,United States,United States dollar,...,Easy,Too long,No,NaN,jQuery;React.js,jQuery,NaN,12.0,4,2
882,884,I am a developer by profession,Yes,41.0,10,Yearly,0.0,0.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,50.0,25,10
1112,1116,I am a developer by profession,Yes,25.0,11,Yearly,0.0,0.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,55.0,14,4
1272,1278,I am a developer by profession,Yes,21.0,12,Yearly,0.0,0.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Vue.js,Express;jQuery;React.js,Just as welcome now as I felt last year,40.0,9,2
1785,1794,I am a developer by profession,Yes,NaN,8,Yearly,0.0,0.0,United States,United States dollar,...,Easy,Appropriate in length,No,NaN,ASP.NET,ASP.NET,NaN,55.0,2,9
2064,2073,I am a developer by profession,Yes,27.0,18,Yearly,0.0,0.0,Canada,Canadian dollar,...,Easy,Appropriate in length,No,"A natural science (such as biology, chemistry,...",Gatsby;React.js,Angular;Angular.js;Gatsby;React.js,Just as welcome now as I felt last year,60.0,5,4
2187,2196,I am a developer by profession,Yes,NaN,24,Monthly,1.0,0.0,Republic of Moldova,Moldovan leu,...,Easy,Too long,No,"A social science (such as anthropology, psycho...",Vue.js,Flask;Vue.js,Just as welcome now as I felt last year,60.0,8,3
2239,2248,I am a developer by profession,No,NaN,12,Yearly,0.0,0.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,Flask,A lot less welcome now than last year,35.0,12,12
2314,2323,I am a developer by profession,Yes,NaN,15,Yearly,0.0,0.0,United States,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Angular,Angular;Angular.js,Just as welcome now as I felt last year,45.0,38,22